@use "../../styles/_variables" as *;

.select-list {
  background-color: $bg-color;
  color: $white;
  font-size: $font-size-small;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}
