@use "../../styles/_variables" as *;

.game-card {
  color: $white;
  display: flex;
  gap: 16px;

  .game-card-image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
  }

  .game-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
