//// Variables CSS

// import inter font google
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// colors

$bg-color: #15173d;
$bg-color-light: #1d2056;
$bg-color-lighter: #3F46BC;
$primary: #e07a30;
$primary-dark: #dd5227;
$white: #ffffff;

// fonts
$font-family: "Inter", sans-serif;
$weight-title: 600;
$weight: 500;

$font-size-subtitle: 18px;
$font-size-title: 30px;
$font-size-small: 14px;

// animations / functions

// gradient
$gradient-orange: linear-gradient(
  180deg,
  $primary 0%,
  $primary-dark 100%
);

$gradient-blue: linear-gradient(
  90deg,
  $bg-color-lighter 0%,
  $bg-color-light 100%
);
