//// Variables CSS

// import inter font google
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// colors 

$bg-color: #15173D;
$bg-color-light: #1D2056;
$primary: #E07A30;
$primary-dark: #DD5227;
$white: #ffffff;

// fonts 
$font-family: "Inter", sans-serif;
$weight-title: 600;
$weight: 500;

$font-size-subtitle: 18px;
$font-size-title: 30px;
$font-size-small: 14px;

// animations / functions



