@use "../../styles/_variables" as *;

.homeContainer {
  color: $white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  h1 {
    margin-bottom: 16px;
  }
  .carousel div {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    img {
      border-radius: 50%;
      max-width: 30vw;
    }
  }
}

@media screen and (min-width: 769px) {
  .homeContainer {
    grid-template-columns: 1fr 1fr;

    .carousel div img {
      max-width: 15vw;
    }
  }
}
