.checkbox-container {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .checkbox-input {
    margin-right: 8px;
    cursor: pointer;
  }