.game-card {
  display: flex;
  gap: 1rem; 
  align-items: center;

  /* Ajuste la disposition selon ton design (flex, grid, etc.) */
}

.game-card-image {
  width: 130px;
  height: 130px;
  object-fit: cover; 
  border-radius: 8px; /* Pour arrondir un peu */
}

.game-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game-card-content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #ccc;
}

.game-card-content p {
  font-size: 0.9rem;
  color: #ccc; /* ajuster la couleur selon ton thème */
}
