@use "./styles/variables" as *;

body {
  font-family: $font-family;
  background-color: $bg-color;
  overscroll-behavior-y: none;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  font-family: $font-family;
}

p,
span {
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $font-family;
  font-weight: $weight-title;
  color: $white;
  font-size: $font-size-title;
}

h2 {
  font-family: $font-family;
  font-weight: $weight;
  color: $white;
  font-size: $font-size-subtitle;
  width: 100%;
  text-align: left;
}

img {
  -webkit-user-drag: none;
}

.pageTitle {
  width: 100%;
  text-align: left;
}

.warning-message {
  text-align: center;
  color: $primary-dark;
  font-size: $font-size-subtitle;
  font-weight: $weight-title;
}
